<html>
	<head>
		<title>
			Departmental Complaints
		</title>
		<style>
			table, th, td {
				padding: 15px;
				border: 4px;
			}
		</style>
	</head>
	<body>
			<div class="complaint-container">
			<br><br>
			<div class="complaint">
				
			<table class="table">
				<tr class='complaint-row' id='head'>
					<td>Complain</td>
					<td>Pincode</td>
					<td>Address</td>
					<td>Urgency</td>
					<td>Status</td>
				</tr>
				<% for (var i=0; i < data.length; i++) { %>
				   <tr class = 'complaint-row'>
				     <td><%= data[i].complaint %></td>
				     <td><%= data[i].plaintiff_pincode %></td>
				     <td><%= data[i].plaintiff_city %></td>
				     <td><%= data[i].urgency %></td>
		             <td><form action='/department' method="POST">
						<hr/>
						Finished :<% if (data[i]["complaint_status"] == "finish") { %>						
							<input style="margin-left:0px;margin-right:10px;" type="radio" name="status" value="finish" id="finish" checked>
						<% } else { %>
							<input style="margin-left:0px;margin-right:10px;" type="radio" name="status" value="finish" id="finish">
						<% } %>
						On Process : <% if (data[i]["complaint_status"] == "process") { %>						
							<input style="margin-left:0px;margin-right:10px;" type="radio" name="status" value="process" id="process" checked>
						<% } else { %>
							<input style="margin-left:0px;margin-right:10px;" type="radio" name="status" value="process" id="process">
						<% } %>	
						Not Started : <% if (data[i]["complaint_status"] == "notstarted") { %>						
							<input style="margin-left:0px;margin-right:10px;" type="radio" name="status" value="notstarted" id="notstarted" checked>
						<% } else { %>
							<input style="margin-left:0px;margin-right:10px;" type="radio" name="status" value="notstarted" id="notstarted">
						<% } %>
						<input type="submit" id="submit" value="Submit">
						<input type="hidden" name="id" id="id" value= '<%= data[i].id %>' >
						<input type="hidden" name="department" id="department" value="<%= department %>">
		            </form>
		            </td>
				   </tr>
				<% } %>
			</table>
			</div>

		</div>
	</body>
</html>

	