<html>
<head>
    <title>Complaint Portal</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body{
            background-color: #e85c41;
        }
        .parent {
            background-color: #fff;
            width:40%;
            margin-left:auto;
            margin-right: auto;
            padding: 3.5rem;
            box-shadow: 0 0 4rem rgba(0,0,0,.3);
        }
        .caption{
            margin-top:3rem;
            font-size: 2rem;
        }
    </style>
    
    <!-- The script that handles the voting part -->
    
</head>
<body>    
    <h4>User Information</h4>
    <div>Name: Harsh Bhartiya</div>
    <div>Tokens: Quite a good amount.</div>
    <hr>
    <center><div class="caption">Complaint Portal</div></center>
    <br>
    <form action="/submit" method="POST" class="parent">
        <a href="/tracking"><button type="button">Track your complaint</button></a>  
        <table cellpadding=5px>
			<tr><td>Complaint</td><td><textarea name="c-body" id="c-body" cols="30" rows="8"></textarea></td></tr>
            <tr><td><input type="submit"></td><td></td></tr>
        </table>
    </form>  
    <hr>
    <h3>Complaints and Issues</h3>
    <div class="complaint-container">
		<br><br>
		<div class="complaint">
			<table class="table">
				<tr class='complaint-row' id='head'>
					<td>Complain</td>
					<td>Urgency</td>
					<td>Votes</td>
					<td>Upvote</td>
					<td>Status</td>
				</tr>
				<% for (var i=0; i < data.length; i++) { %>
				<tr class = 'complaint-row'>
					<td id = '<%= "issue-" + i %>' ><%= data[i].issue %></td>
					<td id = '<%= "urgency-" + i %>'><%= data[i].urgency %></td>
					<td id = '<%= "votes-" + i %>'></td>
					<td><button id = '<%= "upvote-" + i %>' onclick="voteForCandidate(this.id)">Upvote</button></td>
					<td id = '<%= "status-" + i %>'>
						<%= data[i].status %>
					</td>
				</tr>
				<% } %>
			</table>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script src="js/issueHandler.js"></script>
</html>
