
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Athena | Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="css/animate.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/line-awesome.css">
<link rel="stylesheet" type="text/css" href="css/line-awesome-font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" type="text/css" href="lib/slick/slick.css">
<link rel="stylesheet" type="text/css" href="lib/slick/slick-theme.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	.diamond {
		margin-left: 3rem;
		margin-top: -0.4rem;
	}
</style>
</head>


<body oncontextmenu="return false;">
	

	<div class="wrapper">

		<header class="topnav">
		  <a href="#" class="navbar-company-name">
		    Athena
		  </a>
		  <a href="/" class="navbar-right-navigation">
		    Logout
		  </a>
		</header>

		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none no-pd">
								<div class="main-left-sidebar no-margin">
									<div class="user-data full-width">
										<div class="user-profile">
											<div class="username-dt">
												<div class="usr-pic">
													<i class="fa fa-users fa-3" style="color: white; font-size: 2.5em; vertical-align: center	"></i>
												</div>
											</div><!--username-dt end-->
											<div class="user-specs">
												<h3><%= user.name %></h3>
											</div>
										</div><!--user-profile end-->
										<ul class="user-fw-status">
											<li>
												<h4>Prisma</h4>
												<span id="prismaCount"><img src="images/diamond.jpeg" height="36px" width="36px" class="diamond"><%= user.prisma %></span>
											</li>
											<li>
												<h4>Prismatic Possessor</h4>
												<span>@<%= rankA %></span>
											</li>
											<li>
												<h4>Tantalizing TouchStone</h4>
												<span>@<%= rankB %></span>
											</li>
											<li>
												<h4>Ardent Achiever</h4>
												<span>@<%= rankC %></span>
											</li>
										</ul>
									</div><!--user-data end-->
								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6 col-md-8 no-pd">
								<div class="main-ws-sec">
									<div class="post-topbar">
										<div class="post-st">
											<ul>
												<li><a class="post_project active" href="#" title="">Add a achievement</a></li>
												<li><a class="post-jb active" href="#" title="">Praise Someone Else</a></li>
											</ul>
										</div><!--post-st end-->
									</div><!--post-topbar end-->
									<div class="posts-section">
										<% for (var i=0;i< data.length;i++){ %>
										<div class="post-bar">
											<div class="post_topbar">
												<div class="usy-dt">
													<div class="usy-name">
														<h3><%= data[i].user %>
														<% if(data[i].user != data[i].addressedUser) { %>
														<span class= "fa fa-chevron-right" style="padding: 0 3px;"></span><%= data[i].addressedUser %></h3>
														<% } %>
													</div>
												</div>
											</div>
											<div class="job_descp">
												<p  id = '<%= "issue-" + i %>'><%= data[i].issue %></p>
											</div>
											<div class="job-status-bar">
												<ul class="like-com">
													<li>
														<button style="border: none; background: white;" type='button' id = '<%= "upvote-" + i %>' onclick="voteForCandidate(this.id)">
														  <img src="./images/clapping.png" alt="">&nbsp;&nbsp;  
														  <span id='<%= "votes-" + i %>'  style="margin-left: 2rem;"></span>
														</button>
													</li> 
												</ul>
											</div>
										</div><!--post-bar end-->
										<% } %>
									</div><!--posts-section end-->
								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3 pd-right-none no-pd">
								<div class="right-sidebar">
									<div class="widget widget-about">
										<h3>Prismatic Possessor</h3>
										<div class="sign_link">
											<h3><a href="#" title=""><%= topPrisma.username %></a></h3>
											<a href="/leaderboard">View More</a>
										</div>
									</div><!--widget-about end-->
									<div class="widget widget-about">
										<h3>Tantalizing TouchStone</h3>
										<div class="sign_link">
											<h3><a href="#" title=""><%= topPost.username %></a></h3>
											<a href="/leaderboard">View More</a>
										</div>
									</div><!--widget-about end-->
									<div class="widget widget-about">
										<h3>Ardent Achiever</h3>
										<div class="sign_link">
											<h3><a href="#" title=""><%= topVote.username %></a></h3>
											<a href="/leaderboard">View More</a>
										</div>
									</div><!--widget-about end-->
								</div><!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>




		<div class="post-popup pst-pj">
			<div class="post-project">
				<h3>Add a achievement</h3>
				<div class="post-project-fields">
					<form action="/submit" method="POST">
						<div class="row">
							<input type="hidden" name="handle" value="<%= user.name %>">
							<div class="col-lg-12">
								<textarea name="issue" placeholder="Description"></textarea>
							</div>
							<input type="hidden" name='userid' value="<%= user.id %>">
				            <input type="hidden" name='username' value="<%= user.name %>">
				            <input type="hidden" name='prisma' value="<%= user.prisma %>">
				            <div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post" onclick="selfdisableButton()" id="selfpost">Post</button></li>
									<li><a href="#" title="">Cancel</a></li>
								</ul>
							</div>
							
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i class="fa fa-times"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->

		<div class="post-popup job_post">
			<div class="post-project">
				<h3>Praise Someone Else</h3>
				<div class="post-project-fields">
					<form action="/submit" method="POST">
						<div class="row">
							<div class="col-lg-12">
								<input type="text" name="handle" placeholder="username">
							</div>
							<div class="col-lg-12">
								<textarea name="issue" placeholder="Description"></textarea>
							</div>
							<input type="hidden" name='userid' value="<%= user.id %>">
				            <input type="hidden" name='username' value="<%= user.name %>">
				            <input type="hidden" name='prisma' value="<%= user.prisma %>">
				            <div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post" onclick="elsedisableButton()" id="elsepost">Post</button></li>
									<li><a href="#" title="">Cancel</a></li>
								</ul>
							</div>
							
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i class="fa fa-times"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->
	</div><!--theme-layout end-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="lib/slick/slick.min.js"></script>
<script type="text/javascript" src="js/scrollbar.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/disabled.js"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script src="js/prismaHandler.js"></script>
<script src="js/issueHandler.js"></script>
</body>
<script>
	var timess = 0;
	var timese = 0;
	function elseDisableButton() {
		timese++;
		if(timese >= 1) {
			document.getElementById('elsepost').disabled = true;
		}
	}
	function selfDisableButton() {
		timess++;
		if(timess >= 1) {
			document.getElementById('selfpost').disabled = true;
		}
	}
</script>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'a2plcpnl0235'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'>	
</script>
</html>