<!DOCTYPE html>
<html lang="en">
<head>
  <title>Leaderboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}
.wrap{
    box-shadow: 0 0 4rem rgba(0,0,0,.3);
    background: #e85c41;  
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 500px;
    margin-top: -250px;
    overflow: hidden;
    
    &.form-success{
      .container{
        h1{
          transform: translateY(85px);
        }
      }
    }
}
.wrapper {
  max-width: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .wrapper__header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #e44d3a;
  padding: 27px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .wrapper__header .b_caption p {
  color: #dae0fb;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.wrapper .wrapper__header .b_caption p span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 8px;
}
.wrapper .wrapper__content {
  background: #fff;
  padding: 10px;
}
.wrapper .wrapper__content ul {
  list-style: none;
}
.wrapper .wrapper__content ul li {
  cursor: pointer;
  background: #fefefe;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.1s ease-in-out;
  z-index: 4;
}
.wrapper .wrapper__content ul li:hover {
  z-index: 5;
  transform: scale(1.05);
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
}
.wrapper .wrapper__content ul li:not(:last-child) {
  margin-bottom: 10px;
}
.wrapper .wrapper__content ul li .graphic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ebeef3;
  overflow: hidden;
  padding: 5px;
}
.wrapper .wrapper__content ul li .graphic img {
  width: 100%;
  border-radius: 50%;
}
.wrapper .wrapper__content ul li .name span {
  vertical-align: middle;
}
.wrapper .wrapper__content ul li .name span.header {
  color: #979cb0;
  font-weight: 700;
  margin-right: 15px;
  vertical-align: middle;
}
.wrapper .wrapper__content ul li .name span.stat {
  color: #e44d3a;
  font-weight: 700;
  font-size: 25px;
}
.wrapper .wrapper__content ul li .name span.sub {
  color: #e44d3a;
  font-weight: 700;
  font-size: 10px;
  vertical-align: sub;
}

.nav {
  background: #e44d3a;
}

.nav-tabs {
  background: #e44d3a;
}

.selection-tab {
  color: white;
  font-weight: bold;
}
.nav{
  width: 100%;
}
</style>
</head>
<body>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#pp" id="pp-button" class="selection-tab">Prismatic Processor</a></li>
  <li><a data-toggle="tab" href="#tt" id="tt-button" class="selection-tab">Tantalizing TouchStone</a></li>
  <li><a data-toggle="tab" href="#aa" id="aa-button" class="selection-tab">Ardent Achiever</a></li>
</ul>
<div class="wrap">
<div class="wrapper" id="pp">
  <div class="wrapper__header">
    <div class="b_logo"><img src="https://images.vexels.com/media/users/3/135313/isolated/lists/9c44517fa04da541c35888362bce2d1b-award-trophy-icon.png" width="40" alt=""/></div>
    <div class="b_caption">
      <p>Prismatic Possessor</p>
    </div>
  </div>
  <div class="wrapper__content">
    <ul>
      <li>
        <div class="graphic"></div>
        <div class="name"><span class="header"><%= voteData[0].username %></span><span class="stat"><%= voteData[0].votes %></span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"><img src="https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzg5ODI4MTEw/barack-obama-12782369-1-402.jpg" alt=""/></div>
        <div class="name"><span class="header"><%= voteData[1].username %></span><span class="stat"><%= voteData[1].votes %></span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"></div>
        <div class="name"><span class="header"><%= voteData[2].username %></span><span class="stat"><%= voteData[2].votes %></span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Sundar_Pichai_%28cropped%29.jpg/220px-Sundar_Pichai_%28cropped%29.jpg" alt=""/></div>
        <div class="name"><span class="header">Sundar Pichai</span><span class="stat">sample</span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"></div>
        <div class="name"><span class="header">Mark Zukerberg</span><span class="stat">sample</span><span class="sub">B</span></div>
      </li>
    </ul>
  </div>
</div>



<div class="wrapper" id="tt" style="display:none;">
  <div class="wrapper__header">
    <div class="b_logo"><img src="https://images.vexels.com/media/users/3/135313/isolated/lists/9c44517fa04da541c35888362bce2d1b-award-trophy-icon.png" width="40" alt=""/></div>
    <div class="b_caption">
      <p>Tantalising Touchstone</p>
    </div>
  </div>
  <div class="wrapper__content">
    <ul>
      <li>
        <div class="graphic"></div>
        <div class="name"><span class="header"><%= voteData[0].username %></span><span class="stat"><%= voteData[0].votes %></span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"><img src="https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzg5ODI4MTEw/barack-obama-12782369-1-402.jpg" alt=""/></div>
        <div class="name"><span class="header"><%= voteData[1].username %></span><span class="stat"><%= voteData[1].votes %></span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"></div>
        <div class="name"><span class="header"><%= voteData[2].username %></span><span class="stat"><%= voteData[2].votes %></span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Sundar_Pichai_%28cropped%29.jpg/220px-Sundar_Pichai_%28cropped%29.jpg" alt=""/></div>
        <div class="name"><span class="header">Sundar Pichai</span><span class="stat">sample</span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"></div>
        <div class="name"><span class="header">Mark Zukerberg</span><span class="stat">sample</span><span class="sub">B</span></div>
      </li>
    </ul>
  </div>
</div>



<div class="wrapper" id="aa" style="display:none;">
  <div class="wrapper__header">
    <div class="b_logo"><img src="https://images.vexels.com/media/users/3/135313/isolated/lists/9c44517fa04da541c35888362bce2d1b-award-trophy-icon.png" width="40" alt=""/></div>
    <div class="b_caption">
      <p>Ardent Acheiver</p>
    </div>
  </div>
  <div class="wrapper__content">
    <ul>
      <li>
        <div class="graphic"></div>
        <div class="name"><span class="header"><%= prismaData[0].username %></span><span class="stat"><%= prismaData[0].prisma %></span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"><img src="https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzg5ODI4MTEw/barack-obama-12782369-1-402.jpg" alt=""/></div>
        <div class="name"><span class="header"><%= prismaData[1].username %></span><span class="stat"><%= prismaData[1].prisma %></span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"></div>
        <div class="name"><span class="header"><%= prismaData[2].username %></span><span class="stat"><%= prismaData[2].prisma %></span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Sundar_Pichai_%28cropped%29.jpg/220px-Sundar_Pichai_%28cropped%29.jpg" alt=""/></div>
        <div class="name"><span class="header">Sundar Pichai</span><span class="stat">sample</span><span class="sub">B</span></div>
      </li>
      <li>
        <div class="graphic"></div>
        <div class="name"><span class="header">Mark Zukerberg</span><span class="stat">sample</span><span class="sub">B</span></div>
      </li>
    </ul>
  </div>
</div>
</div>

<script>
  document.getElementById('pp-button').addEventListener('click', function() {
    document.getElementById('pp').style.display = 'block';
    document.getElementById('tt').style.display = 'none';
    document.getElementById('aa').style.display = 'none';
  })
  document.getElementById('tt-button').addEventListener('click', function() {
    document.getElementById('tt').style.display = 'block';
    document.getElementById('pp').style.display = 'none';
    document.getElementById('aa').style.display = 'none';
  })
  document.getElementById('aa-button').addEventListener('click', function() {
    document.getElementById('aa').style.display = 'block';
    document.getElementById('tt').style.display = 'none';
    document.getElementById('pp').style.display = 'none';
  })
</script>

  </body>
  </html>

